@using ViewModels.Common;
@using ViewModels.Sales.Orders;
@model ApiResponse<OrderDto>

@{
    ViewData["Title"] = "Thông tin đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Thông tin đơn hàng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item active">Order information</li>
    </ol>

    <div class="card mb-4">
        <div class="card-body">
            <div class="col-md-12">
                <dl class="row">
                    <dt class="col-sm-2">
                        Mã đơn hàng
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Data.Id)
                    </dd>
                    <dt class="col-sm-2">
                        Ngày giao hàng
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Data.OrderDate)
                    </dd>
                    <dt class="col-sm-2">
                        Người dùng
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Data.User)
                    </dd>
                    <dt class="col-sm-2">
                        Tên người nhận
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Data.ShipName)
                    </dd>
                    <dt class="col-sm-2">
                        Địa chỉ nhận hàng
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Data.ShipAddress)
                    </dd>
                    <dt class="col-sm-2">
                        Email
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Data.ShipEmail)
                    </dd>
                    <dt class="col-sm-2">
                        Số điện thoại
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Data.ShipPhoneNumber)
                    </dd>
                    <dt class="col-sm-2">
                        Trạng thái đơn hàng
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Data.Status)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div>
        <a asp-action="Index">Quay lại danh sách</a>
    </div>
</div>
